<a href="https://colab.research.google.com/github/FARDIN98/AI-lab/blob/main/PythonTutorial_for_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is an easy to learn, powerful programming language(very high level language). It has effecient high-level data structures and a simple but effective approach to object-oriented programming. Python's elegent syntax and dynamic typing, together its interpreted nature, make it an ideal language for scripting and rapid action development in many areas on most platforms.

Programs written in Python are typically much shorter then equivalent C, C++, or JAVA programs, for several reasons:


*   The high-level data types allow you to express complex operations in a single statement;
*   Statement grouping is done by indentation instead of beginning and ending brackets;
* No variable or arguement declarations are necessary.

Python is named after the BBC show "Monty Python's Flying Circus" and has nothing to do with reptiles.

In [ ]:
#single-line comment
'''multi-line
comment
in 
python'''

print("Hello, world!")

Hello, world!

In [ ]:
#single-line comment
a = 10


#multi-line comment
b = 1+2+3+\
    4+5+6\
    +7

#for perenthesis (), {}, [], no explicit line-continuation is necessary
c = (1+2+3
     +4+5)

print(a,b,c) #will print the value of a, b and c space separated

10 28 15

In [ ]:
#in python, you do not have to explicitly define the variable type
#In python, we don't actually assign values to the variables. Instead, python gives the reference of the object(values) to the variable

#assign
var1 = 0   #this var1 refers to the object(containing 10)
print(var1)

#assign multiple values to multiple variables
var2,var3,var4 = 20, 30.5, "python is fun"
print(var2,var3,var4)

#assign same value to multiple variables
var5=var6=var7="same value"
print(var5)
print(var6)
print(var7)

0
20 30.5 python is fun
same value
same value
same value

In [ ]:
#Numeric Literals
#Literal = constant value
num1 = 0b1010
num2 = 10
num3 = 0o12
num4 = 0xA

print(num1, num2, num3, num4)

10 10 10 10

In [ ]:
#float literal 
float1 = 3.1416
float2 = 3.5e5

print(float1, float2)

3.1416 350000.0

In [ ]:
#complex literal 
comp1 = 3 + 4j
print(comp1)
print(comp1.real)
print(comp1.imag)

(3+4j)
3.0
4.0

In [1]:
#string literal
str1 = 'single quoted string'
str2 = 'double quoted string'
str3 = '''multi-line 
string 
  with tab'''

print(str1)
print(str2)
print(str3)

single quoted string
double quoted string
multi-line
string
  with tab

In [2]:
#boolean literal
print(0==0)
print(0==1)

True
False

In [3]:
#special literal
#None represents the absence of value or a null value
a = None
print(a)

None

In [7]:
#everything is an object in python programming
#data types are actually classes and values are instance of these classes
num1 = 99
print(type(num1))

float1 = 3.1416
print(type(float1))

comp1 = 3+4j
print(type(comp1))

str1 = "python is fun"
print(type(str1))

print(type(True))

print(type(None))

#same class instance checking
print(isinstance(comp1, complex))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
True

In [8]:
#data type conversion
num1 = 10
print(float(num1))
print(complex(num1))
print(str(num1))

float1 = 3.1416
print(int(float1))
print(complex(float1))
print(str(float1))

str1 = '10'
print(int(str1))
print(float(str1))
print(complex(str1))

10.0
(10+0j)
10
3
(3.1416+0j)
3.1416
10
10.0
(10+0j)

In [10]:
#implicit type conversion
num1 = 10
num2 = 15.5
print(num1 + num2)

#explicit type conversion
num1 = 10
str1 = "123"
#print(num1+str1) #error
print(num1+int(str1))
#or
print(str(num1)+str1)

25.5
133
10123

In [12]:
#python output
#print("objects, sep='', end='\n", ........)
print("Line 1")
print("Line 2")
print("Value =", 10)
print("Value", 10, sep=' = ')
print("portion 1", end="\t")
print("portion 2")

Line 1
Line 2
Value = 10
Value = 10
portion 1	portion 2

In [13]:
#python formatted string
val1, val2 = 10, 20
str1 = "Value 1 = {} and value 2 = {}".format(val1, val2)
print(str1)

print("value 1 = {1} and value 2 = {0}".format(val1,val2))
print("value 1 = {key1} and value 2 = {key2}".format(key1=val1, key2=val2))

f1=2.56
print("formatted value: {:08.5f}".format(f1))
print("formatted value: {key:08.5f}".format(key=f1))

Value 1 = 10 and value 2 = 20
value 1 = 20 and value 2 = 10
value 1 = 10 and value 2 = 20
formatted value: 02.56000
formatted value: 02.56000

In [14]:
#python input
#input([optional prompt message]) always returns a str value

num1=int(input("Enter an integer value: "))
print(num1, type(num1))

f1=float(input("Enter a floating value: "))
print(f1,type(f1))

str1=input("Enter your name: ")
print(str1,type(str1))

Enter an integer value: 10
10 <class 'int'>
Enter a floating value: 10.134
10.134 <class 'float'>
Enter your name: Fardinzzzzz
Fardinzzzzz <class 'str'>